<%- include('./partials/header') %>

<!-- **************** MAIN CONTENT START **************** -->
<main>
	
	<!-- Sidebar START -->
	<%- include('./partials/sideBar') %>
	<!-- Sidebar END -->
	
	<!-- Page content START -->
	<div class="page-content">
	
		<!-- Top bar START -->
		<%- include('./partials/topBar') %>
		<!-- Top bar END -->
	
		
	
	</main>
<!-- **************** MAIN CONTENT END **************** -->

<%- include('./partials/footer') %>