<%- include('./partials/header') %>

<!-- **************** MAIN CONTENT START **************** -->

<main>

	<!-- Sidebar START -->
	<%- include('./partials/sideBar') %>
	<!-- Sidebar END -->
	
	<!-- Page content START -->
	<div class="page-content">
	
		<!-- Top bar START -->
		<%- include('./partials/topBar') %>
		<!-- Top bar END -->

        <!-- Page main content START -->
        <div class="page-content-wrapper p-xxl-4">

                <!-- Title -->
                <div class="row">
                    <div class="col-12 mb-4 mb-sm-5">
                        <div class="d-sm-flex justify-content-between align-items-center">
                            <div class="card-body text-dark">
                                <!-- Title -->
                                <h1 class="m-0 h3 card-title">Doha ➝ Kochi on Tue, 01 Jul 2025</h1>
                                <!-- Breadcrumb -->
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb breadcrumb-dots mb-0">
                                        <li class="breadcrumb-item">User ID</li>
                                        <li class="breadcrumb-item">Booked At: 30 May, Fri 2025 07:05 am</li>
                                        <li class="breadcrumb-item active text-success">Confirmed</li>
                                    </ol>
                                </nav>

                            </div>
                            <a href="#" class="btn btn-info-soft text-nowrap mb-0 me-2"
                                title="airline website link"><i class="bi bi-airplane-fill"></i></a>
                            <a href="#" class="btn btn-primary-soft text-nowrap mb-0 me-2" title="Remainder"><i
                                    class="bi bi-bell"></i></a>
                            <a href="#" class="btn btn-danger-soft text-nowrap mb-0 me-2"
                                title="Admin block Sales"><i class="bi bi-ban"></i> Ban</a>
                            <a href="#" class="btn btn-success-soft text-nowrap mb-0 me-2"
                                title="Admin unblock Sales"><i class="bi bi-check2-circle"></i> Show</a>
                        </div>
                    </div>
                </div>

                <!-- Booking detail START -->
                <div class="row g-3 g-xl-4">
                    <!-- Image -->
                    <!-- Content -->
                    <div class="col-xxl-9">
                        <!-- Flight information START -->
                        <div class="card border">

                            <!-- Card body START -->
                            <div class="card-body p-2">
                                <!-- Card list START -->
                                <!-- Card header -->
                                <!-- Card header -->
                                <div class="card-header">
                                    <div class="d-sm-flex justify-content-sm-between align-items-center">
                                        <!-- Airline Name -->
                                        <div class="d-flex mb-2 mb-sm-0">
                                            <img src="assets/images/element/09.svg" class="w-40px me-2"
                                                alt="">
                                            <h6 class="fw-normal mb-0">Phillippines Airline (PA - 5620)
                                            </h6>
                                        </div>
                                        <h6 class="fw-normal mb-0"><span class="text-body">Booking
                                                PNR:</span> TYRRPH</h6>
                                    </div>
                                </div>

                                <!-- Card body START -->
                                <div class="card-body p-4">
                                    <!-- Ticket item START -->
                                    <div class="row g-4">
                                        <!-- Airport detail -->
                                        <div class="col-sm-4">
                                            <!-- Title -->
                                            <h4>BOM</h4>
                                            <h6 class="mb-0">14:50</h6>
                                            <p class="mb-0">Chhatrapati Shivaji International Airport</p>
                                        </div>

                                        <!-- Time -->
                                        <div class="col-sm-4 my-sm-auto text-center">
                                            <!-- Time -->
                                            <h5>9hr 50min</h5>

                                            <div class="position-relative my-4">
                                                <!-- Line -->
                                                <hr class="bg-primary opacity-5 position-relative">
                                                <!-- Icon -->
                                                <div
                                                    class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
                                                    <i class="fa-solid fa-fw fa-plane rtl-flip"></i>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Airport detail -->
                                        <div class="col-sm-4">
                                            <!-- Title -->
                                            <h4>CDG</h4>
                                            <h6 class="mb-0">11:50</h6>
                                            <p class="mb-0">Ch. De Gaulle, Paris, France</p>
                                        </div>
                                    </div>
                                    <!-- Ticket item END -->

                                </div>
                                <!-- Card body END -->
                                <!-- Card footer -->
                                <div class="card-footer pt-4">
                                    <ul
                                        class="list-inline bg-light rounded-2 d-sm-flex text-center justify-content-sm-between mb-0 px-4 py-2">

                                        <li class="list-inline-item text-dark">Checked baggage : 25 kg
                                        </li>
                                        <li class="list-inline-item text-dark">Carry-on baggage : 7 Kg
                                        </li>

                                    </ul>
                                </div>

                                <!-- Card body -->
                            </div>
                            <!-- Card body END -->
                        </div>
                        <!-- Flight information END -->
                    </div>
                    <div class="col-xxl-3">
                        <div class="form-check form-switch form-check-md d-flex justify-content-between mb-2 me-3">
                            <label class="form-check-label ps-0 pe-4" for="checkPrivacy1">Inventory Number</label>
                            INV56125616
                        </div>

                        <div class="form-check form-switch form-check-md d-flex justify-content-between mb-3 me-3">
                            <label class="form-check-label ps-0 pe-4" for="checkPrivacy1">Inventory User</label>
                            bismietickets
                        </div>
                        <div class="form-check form-switch form-check-md d-flex justify-content-between mb-3 me-3">
                            <label class="form-check-label ps-0 pe-4" for="checkPrivacy1">Sales Status</label>
                            <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy1" checked>
                        </div>
                        <div class="form-check form-switch form-check-md d-flex justify-content-between mb-3 me-3">
                            <label class="form-check-label ps-0 pe-4" for="checkPrivacy1">Enable 12 hrs before
                                departure</label>
                            <input class="form-check-input flex-shrink-0" type="checkbox" id="checkPrivacy1">
                        </div>
                        <!-- Booking info -->
                        <div
                            class="bg-light border border-secondary border-opacity-25 p-3 rounded d-inline-block mt-4">
                            <h6 class="small">Real Time Seats Information:</h6>
                            <!-- Avatar -->
                            <!-- Info -->
                            <div class="hstack gap-2 gap-md-5 flex-wrap mt-2 ">
                                <div>
                                    <small>Total Seats</small>
                                    <h6 class="fw-normal mb-0">12 Seats</h6>
                                </div>
                                <div>
                                    <small>Sold Seats</small>
                                    <h6 class="fw-normal mb-0">2 Seats</h6>
                                </div>
                                <div>
                                    <small>Hold Seats</small>
                                    <h6 class="fw-normal mb-0">2 Seats</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Booking detail END -->

 
                    <ul class="nav nav-tabs nav-justified mb-3">
                        <li class="nav-item "> <a class="nav-link text-primary mb-0 active" data-bs-toggle="tab" href="#tab-1"><i
                                    class="bi bi-bookmark-heart fa-fw me-1"></i> Booking
                                Details</a> </li>
                        <li class="nav-item"> <a class="nav-link text-primary mb-0" data-bs-toggle="tab" href="#tab-2"><i
                                    class="bi bi-receipt"></i>
                                Transactions</a> </li>
                        <li class="nav-item"> <a class="nav-link text-primary mb-0" data-bs-toggle="tab" href="#tab-5"><i
                                    class="bi bi-paypal"></i>
                                Payments</a> </li>
                        <li class="nav-item"> <a class="nav-link text-primary mb-0" data-bs-toggle="tab" href="#tab-4"><i
                                    class="bi bi-card-checklist"></i> Booking Activities</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link text-primary mb-0" data-bs-toggle="tab" href="#tab-3"><i
                                    class="bi bi-patch-question"></i> Help Desk</a> </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-primary" href="#" id="dropdoanMenu"
                                title="Please inactive Inventory For Edit options" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-list-ul fa-fw me-1"></i>Booking Actions
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdoanMenu">
                                <!-- Dropdown menu -->
                                <li> <a class="dropdown-item" href="#"><i class="bi bi-card-checklist"></i>
                                        Edit Inventory Details</a>
                                </li>
                                <li> <a class="dropdown-item" href="#"><i class="bi bi-airplane"></i>
                                        Edit Flight Details</a></li>
                                <li> <a class="dropdown-item" href="#"><i class="bi bi-luggage-fill"></i> Edit
                                        Baggage Details</a></li>
                                <li> <a class="dropdown-item" href="#"><i class="bi bi-cart-check-fill"></i>
                                        Utility Service Details</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <!-- Tab content 1 START -->
                        <div class="tab-pane show active" id="tab-1">
                            <div class="row g-3 ">
                                <div class="col-12"> <!-- Booking table START -->
                                    <div class="card border">
                                        <!-- Card header START -->
                                        <div class="card-header border-bottom d-md-flex justify-content-md-between">
                                            <h5 class="card-header-title"><i class="bi bi-passport"></i> Passengers
                                            </h5>
                                            <form class="rounded position-relative">
                                                <input class="form-control pe-5" type="search" placeholder="Search"
                                                    aria-label="Search">
                                                <button
                                                    class="btn border-0 px-3 py-0 position-absolute top-50 end-0 translate-middle-y"
                                                    type="submit"><i class="fas fa-search fs-6"></i></button>
                                            </form>
                                        </div>
                                        <!-- Card header END -->
                                        <!-- Card body START -->
                                        <div class="card-body">
                                            <!-- Table head -->
                                            <div class="table-responsive">
                                                <table class="datatable-init-export nowrap table"
                                                    data-export-title="Export">

                                                    <thead>

                                                        <tr>
                                                            <th>No</th>
                                                            <th>Booking ID </th>
                                                            <th>TITLE</th>
                                                            <th>FIRST NAME</th>
                                                            <th>LAST NAME</th>
                                                            <th>Email </th>
                                                            <th>Mobile </th>
                                                            <th>Actions</th>

                                                        </tr>

                                                    </thead>

                                                    <tbody>


                                                        <tr>
                                                            <td>1</td>
                                                            <td> BFL00152 </td>
                                                            <td>MRS</td>
                                                            <td>HAKKEEM </td>
                                                            <td>PALLIYAL VALAPPIL</td>
                                                            <td>bismietickets@gmail.com </td>
                                                            <td>+919061519743 </td>


                                                            <td><button class="btn btn-sm btn-outline-info mb-0 me-2"
                                                                    title="Booking Details"><i
                                                                        class="bi bi-eye-fill"></i></button>
                                                                <button class="btn btn-sm btn-outline-dark mb-0 me-2"
                                                                    title="Ticket Details"><i
                                                                        class="bi bi-ticket-perforated-fill"></i></button>
                                                                <button
                                                                    class="btn btn-sm btn-outline-primary mb-0 me-2"
                                                                    title="Payment Details"><i
                                                                        class="bi bi-credit-card"></i></button>
                                                                <button class="btn btn-sm btn-outline-danger mb-0 me-2"
                                                                    title="Help & Support"><i
                                                                        class="bi bi-life-preserver"></i></button>

                                                            </td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <!-- Card body END -->

                                        <!-- Card footer START -->
                                        <div class="card-footer pt-1">
                                            <!-- Pagination and content -->
                                            <div class="d-sm-flex justify-content-sm-between align-items-sm-center">
                                                <!-- Content -->
                                                <p class="mb-sm-0 text-center text-sm-start">Showing 1 to 8 of 20
                                                    entries
                                                </p>
                                                <!-- Pagination -->
                                                <nav class="mb-sm-0 d-flex justify-content-center"
                                                    aria-label="navigation">
                                                    <ul class="pagination pagination-sm pagination-primary-soft mb-0">
                                                        <li class="page-item disabled">
                                                            <a class="page-link" href="#"
                                                                tabindex="-1">Prev</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link"
                                                                href="#">1</a>
                                                        </li>
                                                        <li class="page-item active"><a class="page-link"
                                                                href="#">2</a>
                                                        </li>
                                                        <li class="page-item disabled"><a class="page-link"
                                                                href="#">..</a>
                                                        </li>
                                                        <li class="page-item"><a class="page-link"
                                                                href="#">15</a>
                                                        </li>
                                                        <li class="page-item">
                                                            <a class="page-link" href="#">Next</a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                        <!-- Card footer END -->
                                    </div>
                                </div>
                            </div> <!-- Booking table END -->
                        </div>
                        <!-- Tab content 2 START -->
                        <div class="tab-pane show  " id="tab-2">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="card border">
                                        <!-- Card header -->
                                        <div class="card-header border-bottom">
                                            <h5 class="card-header-title">Booking Transactions</h5>
                                        </div>
                                        <!-- Card body START -->
                                        <div class="card-body">
                                            <table class="table">

                                                <thead>

                                                    <tr>

                                                        <th>Booking Id</th>
                                                        <th>Booking date</th>
                                                        <th>Particulers</th>
                                                        <th>Booking Amount</th>
                                                        <th>C.Fee</th>
                                                        <th>Paid Amount</th>
                                                        <th>Pay Status</th>
                                                        <th>Actions</th>

                                                    </tr>

                                                </thead>

                                                <tbody>

                                                    <tr>

                                                        <td scope="1"> GPT3272 </td>
                                                        <td>18-Jun-2025 </td>
                                                        <td>
                                                            (PNR): 01 JUL COK DXB EK-533 Non Stop
                                                        </td>
                                                        <td>₹ 10218</td>
                                                        <td>₹ 200</td>
                                                        <td>₹ 10000</td>
                                                        <td>Under Process </td>
                                                        <td><button class="btn btn-sm btn-outline-warning mb-0 me-2"
                                                                title="Booking Details"><i
                                                                    class="bi bi-eye-fill"></i></button>
                                                            <button class="btn btn-sm btn-outline-info mb-0 me-2"
                                                                title="Supplier Transfer"><i
                                                                    class="bi bi-paypal"></i></button>
                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab content 2 START -->
                        <div class="tab-pane show  " id="tab-5">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="card border">
                                        <!-- Card header -->
                                        <div class="card-header border-bottom">
                                            <h5 class="card-header-title">Booking Payments</h5>
                                        </div>
                                        <!-- Card body START -->
                                        <div class="card-body">
                                            <table class="table">

                                                <thead>

                                                    <tr>

                                                        <th> Id</th>
                                                        <th> Type</th>
                                                        <th> Booking ID</th>
                                                        <th>Booking date</th>
                                                        <th> Amount</th>
                                                        <th>Transactions ID</th>
                                                        <th>Gateway</th>
                                                        <th>Method</th>
                                                        <th>Charges</th>
                                                        <th>Pay Status</th>
                                                        <th>Actions</th>

                                                    </tr>

                                                </thead>

                                                <tbody>

                                                    <tr>

                                                        <td scope="1"> GPT3272 </td>
                                                        <td>BFL00152 </td>
                                                        <td>Booking Purpose </td>
                                                        <td>18-Jun-2025 </td>
                                                        <td>₹ 10218</td>
                                                        <td> 161651051dfc66 </td>
                                                        <td>HDFC BANK</td>
                                                        <td>UPI</td>
                                                        <td>0% (0)</td>
                                                        <td>Under Process </td>
                                                        <td><button class="btn btn-sm btn-outline-warning mb-0 me-2"
                                                                title="Booking Details"><i
                                                                    class="bi bi-eye-fill"></i></button>

                                                        </td>

                                                    </tr>
                                                    <tr>

                                                        <td scope="1"> GPT3272 </td>
                                                        <td>BFL00152 </td>
                                                        <td>Addon Service </td>
                                                        <td>18-Jun-2025 </td>
                                                        <td>₹ 10218</td>
                                                        <td> 161651051dfc66 </td>
                                                        <td>HDFC BANK</td>
                                                        <td>UPI</td>
                                                        <td>0% (0)</td>
                                                        <td>Under Process </td>
                                                        <td><button class="btn btn-sm btn-outline-warning mb-0 me-2"
                                                                title="Booking Details"><i
                                                                    class="bi bi-eye-fill"></i></button>

                                                        </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab content 3 START -->
                        <div class="tab-pane show  " id="tab-3">
                            <div class="row">
                                <div class="col-12 mx-auto">
                                    <div class="accordion accordion-icon accordion-bg-light" id="accordionExample2">
                                        <!-- Item -->
                                        <div class="accordion-item mb-3">
                                            <h6 class="accordion-header font-base" id="heading-1">
                                                <button
                                                    class="accordion-button fw-bold rounded d-inline-block collapsed"
                                                    type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapse-1" aria-expanded="false"
                                                    aria-controls="collapse-1">
                                                    Support Request Number : ENQ00581
                                                </button>
                                            </h6>
                                            <!-- Body -->
                                            <div id="collapse-1" class="accordion-collapse collapse show "
                                                aria-labelledby="heading-1" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body mt-3">
                                                    <!-- Card body START -->
                                                    <div class="card shadow">
                                                        <!-- Card header START -->
                                                        <div class="card-header border-bottom p-4">
                                                            <h6 class="mb-0">Requested For the Wheelchair</h6>
                                                            <!-- Update and author -->
                                                            <ul class="nav nav-divider">
                                                                <li class="nav-item">Last updated: 06-05-2025</li>
                                                            </ul>
                                                        </div>
                                                        <!-- Card header END -->

                                                        <!-- Card body START -->
                                                        <div class="card-body p-4">

                                                            <div class="alert alert-warning text-right"
                                                                role="alert">
                                                                MUJEEB KALLIDUMBAN MOOSA want to add wheel chair
                                                                assistance due to senior Citizon. Please update once it
                                                                done. </div>

                                                        </div>
                                                        <!-- Card body END -->

                                                        <div class="card-footer border-0 p-4 pt-0">
                                                            <div
                                                                class="border p-3 rounded d-lg-flex align-items-center justify-content-between text-center">
                                                                <!-- Title -->
                                                                <small class="py-3 py-lg-0 d-block">we believe the
                                                                    problem
                                                                    has been resolved. Give us the rates for your
                                                                    satisfaction</small>
                                                                <!-- Check buttons -->
                                                                <div class="btn-group" role="group"
                                                                    aria-label="Basic radio toggle button group">
                                                                    <!-- Yes button -->
                                                                    <input type="radio" class="btn-check"
                                                                        name="btnradio" id="btnradio1">
                                                                    <label class="btn btn-outline-light btn-sm mb-0"
                                                                        for="btnradio1"><i
                                                                            class="fa-solid fa-thumbs-up me-1"></i>
                                                                        Yes</label>
                                                                    <!-- No button -->
                                                                    <input type="radio" class="btn-check"
                                                                        name="btnradio" id="btnradio2">
                                                                    <label class="btn btn-outline-light btn-sm mb-0"
                                                                        for="btnradio2"> No <i
                                                                            class="fa-solid fa-thumbs-down ms-1"></i></label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- Payment Options END -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Item -->
                                    </div>
                                </div>
                                <!-- Accordion END -->

                                <div
                                    class="border p-3 rounded d-lg-flex align-items-center justify-content-between text-center">
                                    <!-- Title -->
                                    <small class="py-3 py-lg-0 d-block">No Request Found</small>
                                    <!-- Check buttons -->

                                </div>
                            </div>
                        </div>
                        <!-- Tab content 4 START -->
                        <div class="tab-pane show  " id="tab-4">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="card border">
                                        <!-- Card header -->
                                        <div class="card-header border-bottom">
                                            <h5 class="card-header-title">All Activities</h5>
                                        </div>
                                        <!-- Card body START -->
                                        <div class="card-body">
                                            <table class="table table-ulogs">

                                                <thead class="thead-light">

                                                    <tr>

                                                        <th>Date</th>

                                                        <th>ID</th>

                                                        <th>Content</th>

                                                        <th>User</th>

                                                    </tr>

                                                </thead>

                                                <tbody>

                                                    <tr>
                                                        <td>18-Jun-2025 11:20 </td>
                                                        <td> BFL00152</td>

                                                        <td>Your are Created a Group of 10 seats in Air India </td>


                                                        <td>BISMI ETICKETS </td>



                                                    </tr>
                                                    <tr>
                                                        <td>18-Jun-2025 11:22 </td>
                                                        <td>BFL00152 </td>

                                                        <td>Your Group has been confirmed from the issuer id Air
                                                            India Paid Cost 22000 Amount </td>

                                                        <td>BISMI ETICKETS </td>


                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- Card body END -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Page main content END -->
    </div>
    <!-- Page content END -->

        <!-- Wheelchair modal START -->
    <div class="modal fade" id="Wheelchair" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- Title -->
                <div class="modal-header">
                    <h5 class="modal-title">Submit to Block for Sales</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Body -->
                <div class="modal-body p-3">
                    <div class="row g-4 mb-3">
                        <div class="col-sm-12 form-group"><label class="form-label" for="country">Reason For The
                                Block</label>
                            <textarea></textarea>
                        </div>



                    </div>
                    <div class="modal-footer bg-light mb-2"> <button
                            class="btn btn-sm btn-outline-primary mb-0">Submit
                            request</button> </div>
                    <h6 class="alert-heading h6">Instructions for Wheelchair Assistance</h6>
                    <ul>
                        <li>By processing, You accept Booking <a href="#">Terms of Services</a> and <a
                                href="#">Policy</a></li>
                        <li>Steps: Submit Request -> Our team will forward the request to the sales teams and once it is
                            accepted we will add the service cost. You have to pay the amount within the time. Once it
                            is completed the seller will be updated.</li>
                        <li>You should book it at least 48 hours before your flight's departure. provides wheelchair
                            assistance based on availability, so it's best to book in advance. </li>
                        <li>Some airlines not charge extra for providing wheelchair assistance. but the last moment case
                            they will charge.</li>
                        <li>Once request we will generate a support Id. it shows on manage supports tab </li>

                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- Wheelchair modal END -->
     
</main>

<!-- **************** MAIN CONTENT END **************** -->

<%- include('./partials/footer') %>