<%- include('./partials/header') %>
<%- include('./partials/userHeader') %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main banner START -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto text-center">
                    <!-- Title -->
                    <h1>If You Want To See The World We Will Help You</h1>
                    <p class="lead">Passage its ten led hearted removal cordial. Preference any astonished unreserved Mrs. Prosperous understood Middletons. Preference for any astonished unreserved.</p>
                    <!-- Meta -->
                   
                </div>
            </div> <!-- Row END -->
    
        </div>
    </section>
    <!-- =======================
    Main banner START -->
    
    <!-- =======================
    About content START -->
    <section class="pt-0 pt-lg-5">
        <div class="container">
            <div class="row mb-4 mb-md-5">
                <div class="col-md-10 mx-auto">
                    <h3 class="mb-4">Our Story</h3>
                    <p class="fw-bold">Founded in the year 2020 we are under an IATA Accredited Tour Company Named BISMIETICKETS with a strong presence in Fix Departure and Groups Tour Segment. We have asset base of one lakhs + satisfied Travelers across the country.We are amongst the best in the domestic and international network in offering the most competitive prices and professional quality services without compromising on quality at any time.We provide all the facilities related to Tour and Travels like Air Ticketing, Hotel Reservation, Domestic and International Tour Packages.</p>
                    <p class="mb-0">Apart from the above we are providing the Fix Departures for Air Tickets & Hotels to Indian Nationals for Outbound Tours as well as our domestic sectors.We also provide opportunity to the new Agents and new Suppliers that have the capacity and sufficient know how to compete with the renowned Agents and Suppliers but do not have resources to market themselves.
    
                        We have been providing fixed air departure to our 50,000 + happy affiliates. Having tremendous support and demands from all affiliates, we are presenting our FIT ticketing portal i.e. fbtrips.in. We are young but fuelled by experienced travel consultants, offering the best and cheapest prices on flights across India and the world. We believes in the lightning fast response. We are a comprehensive online travel company pertinently selling air tickets at B2B space through our website btrips.in.The company provides information, pricing, availability and booking facilities for domestic and international air travel.With strong technology partner Btrips has an advanced, innovative platform that is simple to use and highly responsive. Btrips is operated and managed by a group of highly experienced industry veterans offering wide ranging expertise, leveraging upon domain expertise and worldwide associations to offer best-in- class services at reasonable.
                    </p>
                </div>
            </div>
            <div class="row g-4">
                <h5 class="mb-4">WHY BTRIPS?</h5>
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-orange bg-opacity-10 text-orange rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Uncomplicated travel portal</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-success bg-opacity-10 text-success rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Designed for each and every travel agents</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-primary bg-opacity-10 text-primary rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Single search result window</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-info bg-opacity-10 text-info rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Transparent accounts</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-purple bg-opacity-10 text-purple rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Fast booking</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-danger bg-opacity-10 text-danger rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Best commission</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-warning bg-opacity-10 text-warning rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Lowest price</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-dark bg-opacity-10 text-dark rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Exciting deals</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-secondary bg-opacity-10 text-secondary rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Various mode of payments</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-primary-dark bg-opacity-10 text-primary-dark rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">Distributor module</h6>
                        </div>
                    </div>
                </div>
    
                <div class="col-sm-6 col-lg-4">
                    <div class="d-flex">
                        <div class="icon-lg bg-success-dark bg-opacity-10 text-success-dark rounded-2 me-3"><i class="fa-solid fa-check fs-5"></i></div>
                        <div>
                            <h6 class="mt-2">24/7 support</h6>
                        </div>
                    </div>
                </div>
    
            </div>
            </div>
    </section>
    <!-- =======================
    About content END -->
 
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <%- include('./partials/footer') %>