<table align="center" bgcolor="#F1F1F1;" border="0" cellpadding="0"
    cellspacing="0"
    style="margin:0 auto;background-color:#f1f1f1;border:1px solid #dfdfdf"
    width="800">
    <tbody><tr>
            <td style="padding:0 35px">
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td
                                style="border-left:#554176 4px solid;padding:20px 0 10px 20px">
                                <table cellpadding="0" cellspacing="0"
                                    width="100%">
                                    <tbody><tr>
                                            <td align="left"><a
                                                    href="#m_-2189906942916018798_"><img
                                                        src="https://ci3.googleusercontent.com/meips/ADKq_NZRFBjm6GmOafNn5XOXBxDvmlZP6WfwpZezmA-RZLLkzz1JoXIibgWKpg-U_u0ngyEtQ2q6c9mwJU0Tk9CPH7kIZ9HN=s0-d-e1-ft#https://gos3.ibcdn.com/myp_logo-1709801210.png"
                                                        style="display:block"
                                                        width="114"
                                                        alt></a></td>
                                        </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:30px"></td>
                        </tr>
                        <tr>
                            <td
                                style="padding:30px;background-color:white;border-radius:12px">
                                <table cellpadding="0" cellspacing="0"
                                    width="100%">
                                    <tbody><tr>
                                            <td
                                                style="padding:0;margin:0;font-size:16px;line-height:22px;font-weight:bold;color:#000000">
                                                Dear Traveler Partner,
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="padding:15px 0 0;margin:0;font-size:14px;line-height:20px;font-family:Arial,Helvetica,sans-serif;color:#000000">
                                                <span
                                                    style="font-weight:bold">Ticket
                                                    Booked Successfully</span>,
                                                For your PNR
                                                <span>TBSP3U</span>, for sector
                                                <span>CCJ-AUH</span> traveling
                                                on <span>16 May, 2025</span>.
                                                Below are the flight &amp;
                                                passenger details.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="height:30px;width:100%"></td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="color:#000;font-family:Arial;font-size:14px;font-style:normal;font-weight:700;line-height:normal;padding-bottom:12px">Ticket
                                                Information</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                    style="border-collapse:initial;border-spacing:0;border:1px solid #585475;width:100%;background-color:#ebe9f6;border-radius:4px">
                                                    <tbody>
                                                        <tr>
                                                            <td colspan="2"
                                                                style="padding:10px;vertical-align:top;font-family:arial;text-align:left;border-bottom:1px solid #585475;font-size:12px;line-height:normal;font-weight:bold;border-top-left-radius:3px;background:#bdb5d3">Flight
                                                                Details</td>
                                                            <td colspan="4"
                                                                style="padding:10px 10px 10px 0;vertical-align:top;font-family:arial;text-align:right;border-bottom:1px solid #585475;font-size:10px;border-top-right-radius:3px;background:#bdb5d3"><u></u>Departure<u></u>
                                                                : <span>16 May
                                                                    2025,
                                                                    22:35</span>
                                                                |
                                                                <u></u>Arrival<u></u>
                                                                : <span>17 May
                                                                    2025,
                                                                    01:05</span></td>
                                                        </tr>
                                                        <tr>
                                                            <th
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-bottom:1px solid #a09eb5;border-right:1px solid #a09eb5;text-align:left;font-size:11px">PNR</th>
                                                            <th
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-bottom:1px solid #a09eb5;border-right:solid 1px #a09eb5;text-align:left;font-size:11px">Booking
                                                                ID</th>
                                                            <th
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-bottom:1px solid #a09eb5;border-right:solid 1px #a09eb5;text-align:left;font-size:11px">Flight
                                                                No.</th>
                                                            <th
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-bottom:1px solid #a09eb5;border-right:solid 1px #a09eb5;text-align:left;font-size:11px">Origin</th>
                                                            <th
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-bottom:1px solid #a09eb5;border-right:solid 1px #a09eb5;text-align:left;font-size:11px">Destination</th>
                                                            <th
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-bottom:1px solid #a09eb5;text-align:left;font-size:10px">Total
                                                                Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-right:1px solid #a09eb5;font-size:10px"><span>TBSP3U</span></td>
                                                            <td
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-right:solid 1px #a09eb5;font-size:10px"><span>NN2AEI6E90837004996</span></td>
                                                            <td
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-right:solid 1px #a09eb5;font-size:10px"><span>IX-347</span></td>
                                                            <td
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-right:solid 1px #a09eb5;font-size:10px"><span>CCJ</span></td>
                                                            <td
                                                                style="padding:10px 5px;vertical-align:top;font-family:arial;border-right:solid 1px #a09eb5;font-size:10px"><span>AUH</span></td>
                                                            <td rowspan="1"
                                                                style="padding:10px 5px;vertical-align:top;font-family:source-sans-latest;font-size:9px">₹
                                                                22200.0</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="height:16px;width:100%"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                    style="border-collapse:initial;border-spacing:0;border:1px solid #b2b2b2;width:100%!important;background-color:#ebf3fb;border-radius:4px"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="padding:0">
                                                                <table
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important"
                                                                    width="100%"
                                                                    border="0">
                                                                    <tbody><tr>
                                                                            <td
                                                                                style="padding:10px;vertical-align:top;font-family:arial;text-align:left;border-bottom:1px solid #b2b2b2;font-size:11px;line-height:normal;font-weight:bold;border-top-left-radius:3px;background:#c7d2e8">Passenger
                                                                                Details
                                                                                -
                                                                                Adult
                                                                                (12y
                                                                                +)</td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="padding:10px;vertical-align:top;font-family:arial;text-align:left">
                                                                <table
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="border-spacing:0;width:100%!important"
                                                                    width="100%">
                                                                    <tbody><tr>
                                                                            <td
                                                                                style="padding:10px;background-color:#dbeaf9;border-radius:5px;width:100%">
                                                                                <table
                                                                                    cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important;color:#000000;font-size:10px"
                                                                                    width="100%">
                                                                                    <tbody><tr>
                                                                                            <td
                                                                                                style="padding-bottom:5px"><span
                                                                                                    style="color:#4a4a4a">First
                                                                                                    &amp;
                                                                                                    Middle
                                                                                                    Name
                                                                                                    :
                                                                                                </span>
                                                                                                <span>SIBI
                                                                                                    DAS
                                                                                                </span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-bottom:5px"><span
                                                                                                    style="color:#4a4a4a">Last
                                                                                                    Name
                                                                                                    :
                                                                                                </span>
                                                                                                <span>VENGARATHODI</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-bottom:8px"><span
                                                                                                    style="color:#4a4a4a">Gender
                                                                                                    :
                                                                                                </span>
                                                                                                <span>Female</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-top:8px;border-top:1px solid #c3c3c3"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="color:#000;font-family:Arial;font-size:10px;font-style:normal;font-weight:700;line-height:normal;padding-bottom:8px">Passport
                                                                                                Details</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important"
                                                                                                    width="100%">
                                                                                                    <tbody><tr>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Nationality
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>IN</span></td>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Expiry
                                                                                                                    Date
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>03/02/2026</span></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Passport
                                                                                                                    No
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>N7111794</span></td>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px"><span
                                                                                                                    style="color:#4a4a4a">Issued
                                                                                                                    Country
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>IN</span></td>
                                                                                                        </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-top:8px;border-top:1px solid #c3c3c3"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table
                                                                                                    align="left"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    style="border-collapse:initial;border-spacing:0">
                                                                                                    <tbody><tr>
                                                                                                            <td
                                                                                                                style="padding-right:10px"><span
                                                                                                                    style="color:#4a4a4a">Date
                                                                                                                    of
                                                                                                                    Birth
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>02/05/1990</span></td>
                                                                                                        </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="height:16px;width:100%"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                    style="border-collapse:initial;border-spacing:0;border:1px solid #b2b2b2;width:100%!important;background-color:#ebf3fb;border-radius:4px"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="padding:0">
                                                                <table
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important"
                                                                    width="100%"
                                                                    border="0">
                                                                    <tbody><tr>
                                                                            <td
                                                                                style="padding:10px;vertical-align:top;font-family:arial;text-align:left;border-bottom:1px solid #b2b2b2;font-size:11px;line-height:normal;font-weight:bold;border-top-left-radius:3px;background:#c7d2e8">Passenger
                                                                                Details
                                                                                -
                                                                                Children
                                                                                (2y
                                                                                -
                                                                                12y)</td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="padding:10px;vertical-align:top;font-family:arial;text-align:left">
                                                                <table
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="border-spacing:0;width:100%!important"
                                                                    width="100%">
                                                                    <tbody><tr>
                                                                            <td
                                                                                style="padding:10px;background-color:#dbeaf9;border-radius:5px;width:100%">
                                                                                <table
                                                                                    cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important;color:#000000;font-size:10px"
                                                                                    width="100%">
                                                                                    <tbody><tr>
                                                                                            <td
                                                                                                style="padding-bottom:5px"><span
                                                                                                    style="color:#4a4a4a">First
                                                                                                    &amp;
                                                                                                    Middle
                                                                                                    Name
                                                                                                    :
                                                                                                </span>
                                                                                                <span>DAKSHIT
                                                                                                    DINOOP
                                                                                                    DAS
                                                                                                </span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-bottom:5px"><span
                                                                                                    style="color:#4a4a4a">Last
                                                                                                    Name
                                                                                                    :
                                                                                                </span>
                                                                                                <span>VELICHAPPATIL</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-bottom:8px"><span
                                                                                                    style="color:#4a4a4a">Gender
                                                                                                    :
                                                                                                </span>
                                                                                                <span>Male</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-top:8px;border-top:1px solid #c3c3c3"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="color:#000;font-family:Arial;font-size:10px;font-style:normal;font-weight:700;line-height:normal;padding-bottom:8px">Passport
                                                                                                Details</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important"
                                                                                                    width="100%">
                                                                                                    <tbody><tr>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Nationality
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>IN</span></td>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Expiry
                                                                                                                    Date
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>08/01/2028</span></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Passport
                                                                                                                    No
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>W8517957</span></td>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px"><span
                                                                                                                    style="color:#4a4a4a">Issued
                                                                                                                    Country
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>IN</span></td>
                                                                                                        </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-top:8px;border-top:1px solid #c3c3c3"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table
                                                                                                    align="left"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    style="border-collapse:initial;border-spacing:0">
                                                                                                    <tbody><tr>
                                                                                                            <td
                                                                                                                style="padding-right:10px"><span
                                                                                                                    style="color:#4a4a4a">Date
                                                                                                                    of
                                                                                                                    Birth
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>13/10/2017</span></td>
                                                                                                        </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="height:16px;width:100%"></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table
                                                    style="border-collapse:initial;border-spacing:0;border:1px solid #b2b2b2;width:100%!important;background-color:#ebf3fb;border-radius:4px"
                                                    width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="padding:0">
                                                                <table
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important"
                                                                    width="100%"
                                                                    border="0">
                                                                    <tbody><tr>
                                                                            <td
                                                                                style="padding:10px;vertical-align:top;font-family:arial;text-align:left;border-bottom:1px solid #b2b2b2;font-size:11px;line-height:normal;font-weight:bold;border-top-left-radius:3px;background:#c7d2e8">Passenger
                                                                                Details
                                                                                -
                                                                                Infants
                                                                                (0y
                                                                                -
                                                                                2y below)</td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td
                                                                style="padding:10px;vertical-align:top;font-family:arial;text-align:left">
                                                                <table
                                                                    cellpadding="0"
                                                                    cellspacing="0"
                                                                    style="border-spacing:0;width:100%!important"
                                                                    width="100%">
                                                                    <tbody><tr>
                                                                            <td
                                                                                style="padding:10px;background-color:#dbeaf9;border-radius:5px;width:100%">
                                                                                <table
                                                                                    cellpadding="0"
                                                                                    cellspacing="0"
                                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important;color:#000000;font-size:10px"
                                                                                    width="100%">
                                                                                    <tbody><tr>
                                                                                            <td
                                                                                                style="padding-bottom:5px"><span
                                                                                                    style="color:#4a4a4a">First
                                                                                                    &amp;
                                                                                                    Middle
                                                                                                    Name
                                                                                                    :
                                                                                                </span>
                                                                                                <span>DAKSHIT
                                                                                                    DINOOP
                                                                                                    DAS
                                                                                                </span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-bottom:5px"><span
                                                                                                    style="color:#4a4a4a">Last
                                                                                                    Name
                                                                                                    :
                                                                                                </span>
                                                                                                <span>VELICHAPPATIL</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-bottom:8px"><span
                                                                                                    style="color:#4a4a4a">Gender
                                                                                                    :
                                                                                                </span>
                                                                                                <span>Male</span></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-top:8px;border-top:1px solid #c3c3c3"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="color:#000;font-family:Arial;font-size:10px;font-style:normal;font-weight:700;line-height:normal;padding-bottom:8px">Passport
                                                                                                Details</td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    style="border-collapse:initial;border-spacing:0;width:100%!important"
                                                                                                    width="100%">
                                                                                                    <tbody><tr>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Nationality
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>IN</span></td>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Expiry
                                                                                                                    Date
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>08/01/2028</span></td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px;width:50%"><span
                                                                                                                    style="color:#4a4a4a">Passport
                                                                                                                    No
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>W8517957</span></td>
                                                                                                            <td
                                                                                                                width="50%"
                                                                                                                style="padding-bottom:8px"><span
                                                                                                                    style="color:#4a4a4a">Issued
                                                                                                                    Country
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>IN</span></td>
                                                                                                        </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td
                                                                                                style="padding-top:8px;border-top:1px solid #c3c3c3"></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>
                                                                                                <table
                                                                                                    align="left"
                                                                                                    cellpadding="0"
                                                                                                    cellspacing="0"
                                                                                                    style="border-collapse:initial;border-spacing:0">
                                                                                                    <tbody><tr>
                                                                                                            <td
                                                                                                                style="padding-right:10px"><span
                                                                                                                    style="color:#4a4a4a">Date
                                                                                                                    of
                                                                                                                    Birth
                                                                                                                    :
                                                                                                                </span>
                                                                                                                <span>13/10/2017</span></td>
                                                                                                        </tr>
                                                                                                    </tbody></table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody></table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody></table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="height:16px;width:100%"></td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="height:16px;width:100%"></td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="border-radius:2px;padding:4px 8px;background:#ffedd1;color:#262420;font-family:arial;font-size:11px;font-style:normal;font-weight:700;line-height:16px">
                                                Please upload the details of the
                                                passenger on the airlines
                                                website at the earliest.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="height:30px;width:100%"></td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="color:#4a4a4a;font-family:Arial;font-size:12px;font-style:normal;font-weight:normal;line-height:16px;padding-bottom:4px">Thank
                                                you</td>
                                        </tr>
                                        <tr>
                                            <td
                                                style="color:#000000;font-family:Arial;font-size:12px;font-style:normal;font-weight:700;line-height:16px">Team
                                                myPartner</td>
                                        </tr>
                                    </tbody></table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" width="100%"
                                style="margin:0;padding:50px 0 40px 0">
                                <img
                                    src="https://ci3.googleusercontent.com/meips/ADKq_NZRFBjm6GmOafNn5XOXBxDvmlZP6WfwpZezmA-RZLLkzz1JoXIibgWKpg-U_u0ngyEtQ2q6c9mwJU0Tk9CPH7kIZ9HN=s0-d-e1-ft#https://gos3.ibcdn.com/myp_logo-1709801210.png"
                                    style="display:block;background-color:#f1f1f1;border-radius:8px;padding:2px 0 0 2px"
                                    width="114" alt>
                            </td>
                        </tr>
                    </tbody></table>
            </td>
        </tr>
    </tbody></table>