<%- include('./partials/header') %>
<%- include('./partials/userHeader') %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main banner START -->
    <section class="pt-4 pt-lg-5">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <h3 class="fs-2 mb-0">Btrips’s Cookie Statement</h3>
                    <!-- Image -->
                    <!-- <img src="/assets/images/about/03.jpg" class="h-lg-400px rounded-3 mt-4" alt=""> -->
                </div>
            </div>
    
            <!-- Content START -->
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="vstack gap-3">
            
                        <p>The following Cookie Statement is applicable to the websites of Btrips Private Limited (hereby referred to as “Btrips”, “we”, “our” or “us”) including the desktop and mobile sites, email and text messages (collectively hereby referred to as “Platforms”). Btrips utilises cookies to enhance the experience of its online users, that is, any person Browse, visiting, accessing and/or using the services on our Platforms or searching for any of the pages on our Platforms (hereby referred to as “customers”, “you” or “your”). Below, you will see detailed information about what types of cookies Btrips uses and why and how to disable these cookies. If you cannot find the specific information that you are looking for or if you have any questions or concerns, please feel free to <a href="#">Contact Us</a>.</p>
            
                        <h6>1. What are cookies and similar technologies?</h6>
                        <p>Cookies are small data files that are placed on your device when you visit a website. These data files contain session data that can be useful in improving your Browse experience. Cookies set by the website owner (in this case, Btrips) are called "first-party cookies". Cookies set by parties other than the website owner are called "third-party cookies". Third-party cookies enable third-party features or functionality to be provided on or through the website (e.g. advertising, interactive content, and analytics). The parties that set these third-party cookies can recognise your computer both when it visits the website in question (in this case, Btrips) and also when it visits certain other websites. Cookies, by themselves, do not tell us any Personally Identifiable Information other than your IP address, however, they may store personal data that you provide us via the web forms.</p>
                        <p>Cookies are not the only way to recognise or track visitors to a website. Other technologies that can be used for similar purposes are HTML5 Local Storage, IP Tracking, etc.</p>
                        <p>Web beacons, embedded scripts, and similar technologies may be used in websites, emails and ads. Web beacons (or “tags”) are tiny graphic files that contain a unique identifier. They are included bits of programming code that notify a website (or affiliate websites) when those web pages, emails, or ads have been viewed or clicked on.</p>
            
                        <h6>2. Why does Btrips use cookies and similar technologies?</h6>
                        <p>Cookies, HTML5 Local Storage, IP Tracking, and similar technologies are used by Btrips in order to make its Platforms work, or to work more efficiently, as well as to provide reporting information. Many of these cookies are necessary to ensure the proper functioning of the Platforms. Other cookies improve the user experience.</p>
                        <p>Btrips and its affiliate companies use cookies and similar technologies for its various benefits:</p>
                        <ul>
                            <li>Tracking new and returning visitors;</li>
                            <li>Authenticating and identifying you on our Platforms;</li>
                            <li>Keeping track of information that you have provided to us;</li>
                            <li>Remembering your preferences or where you left off during your last use;</li>
                            <li>Tracking your movements around our Platforms;</li>
                            <li>Fetching your approximate location to help you fill certain web forms faster and seamlessly providing location specific content, services, configurations and preferences;</li>
                            <li>Storing and displaying information about previously viewed content;</li>
                            <li>Administer our Platforms and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
                            <li>Measuring your use of our Platforms so that we can improve them, tailor them to your likely interests, and conduct market research;</li>
                            <li>Allowing you to participate in interactive features of our service, when you choose to do so;</li>
                            <li>Analysing trends and gathering demographic information about our user base;</li>
                            <li>Improving our Platforms to ensure that content is presented in the most effective manner for you and for your computer;</li>
                            <li>Keeping our Platforms safe and secure as part of our efforts;</li>
                            <li>Making suggestions and recommendations to you about goods or services that may interest you;</li>
                            <li>Using third-party cookies to enable third-party services, features, and functionality;</li>
                            <li>Measuring or understanding the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you, whether in our own products or in products offered by third parties.</li>
                        </ul>
                        <p>Btrips may use web beacons or pixel gifs and embedded scripts in its web pages and emails that measure how you use those web pages. Web beacons on emails may track behaviour such as who opened the email, what link was clicked, when the email was opened, your IP address, your browser or email client type, and other details. This allows us to create reports and to measure the performance of our email campaigns, what actions our subscribers took, and to improve our features for specific customers. We use this information to improve our Platforms, tailor them to your likely interests, and conduct market research. This allows us, to monitor the traffic patterns of users from one page within our Platforms to another, to deliver or communicate with cookies, to understand whether you have come to our Platforms from an online advertisement displayed on a third-party website, to improve site performance, and to measure the success of e-mail marketing campaigns. In many instances, these technologies are reliant on cookies to function properly, and so declining cookies will impair their functioning.</p>
            
                        <h6>3. What types of cookies does Btrips use?</h6>
                        <p>Btrips uses first party and third-party cookies, HTML5 local storage, IP tracking, Web Beacons, Embedded Scripts, etc. for several reasons. Some cookies are required for technical reasons in order for our Platforms to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience of our Platforms. Third parties serve cookies through our Platforms for advertising, analytics and other purposes.</p>
                        <p>The various types of first and third-party cookies and similar technologies used on our Platforms are described below:</p>
                        <ul>
                            <li><strong>Essential website cookies:</strong> These cookies are strictly necessary to provide you with services available through our Platforms and to use some of its features, such as access to secure areas. Because these cookies are strictly necessary to deliver the Website to you, you cannot refuse them without impacting how our Platforms function.</li>
                            <li><strong>Performance and functionality cookies:</strong> These cookies are used to enhance the performance and functionality of our Platforms but are non-essential to their use. However, without these cookies, certain functionality may become unavailable.</li>
                            <li><strong>Analytics and customisation cookies:</strong> These cookies collect information that is used either in aggregate form to help us understand how our Platforms are being used or how effective our marketing campaigns are, or to help us customise our Platforms for you in order to enhance your experience.</li>
                            <li><strong>Advertising cookies:</strong> These cookies are used to make advertising messages more relevant to you. They perform functions like preventing the same ad from continuously reappearing, ensuring that ads are properly displayed, and in some cases selecting advertisements that are based on your interests.</li>
                            <li><strong>IP Tracking:</strong> IP Tracking is used to identify user location for faster form filling and for statistical purposes, including date of the first visit, the number of visits, date of the last visit, etc. We may partner with third-party data providers to match IP addresses with company and contact names.</li>
                            <li><strong>Browser Analytics:</strong> As is true of most internet services, we gather some information automatically and store it in log files. This information may include domain and host or Internet Service Provider (ISP) from which you access the Internet, Internet Protocol (IP) address, Uniform Resource Locators (URL) data, device, operating system, browser, browser version, browser plug-in type and versions, browser ID, Browse activities, screen resolution, language, referring and exit websites and applications, date/time stamps, clickstream data the time spent on our Platforms along with any other relevant information and also, other anonymous site statistical data, information furnished while navigating the Site and other information about how you interacted with our Platforms.</li>
                            <li><strong>Web beacons, embedded scripts and similar technologies:</strong> These technologies are used to identify when web pages, emails, or ads have been viewed or clicked on.</li>
                            <li><strong>Click-through URL:</strong> We may use a “click-through URL” linked to content on our Platforms. When customers click one of these URLs, they pass through a separate web server before arriving at the destination page. We track this click-through data to help us determine interest in particular topics and measure the effectiveness of our customer communications.</li>
                            <li><strong>Cookies and Personal Information:</strong> To enhance our understanding of your interaction with our Platforms we may use information in cookies along with Personal Information you’ll provide via web forms. Our data partners may use cookies and Web beacons for the purpose of matching IP addresses. We may use these cookies to recognise you by name or to recognise our registered Application Providers.</li>
                            <li><strong>Syncing offline information:</strong> We may store information related to how you used our Platforms on your device and then transfer it to our servers the next time you connect online to our service.</li>
                        </ul>
            
                        <h6>4. How can I control cookies?</h6>
                        <p>You have the right to decide whether to accept or reject cookies. You can set or amend your web browser controls to accept or refuse cookies. However, if you choose to reject cookies, you may still use our Platforms but your access to some functionality and areas of our Platforms may be restricted. Please note you might continue to receive generic ads even if you opt out of interest-based advertising cookies. The means by which you can refuse cookies through your web browser controls vary from browser-to-browser. These links explain how to deactivate or block cookies in common web browsers:</p>
                        <ul>
                            <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en" target="_blank">Chrome</a></li>
                            <li><a href="https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored" target="_blank">Firefox</a></li>
                            <li><a href="http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies" target="_blank">Internet Explorer</a></li>
                            <li><a href="https://support.apple.com/en-us/HT201265" target="_blank">Safari</a></li>
                            <li><a href="http://www.opera.com/help/tutorials/security/cookies/" target="_blank">Opera</a></li>
                            <li><a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&hl=en-GB&oco=1" target="_blank">Android</a></li>
                        </ul>
                        <p>You may also choose to access websites using private mode, incognito mode, private Browse, in Private Browse, private tab, private window, or any such term as used by browsers (hereby collectively referred to as “Privacy Mode(s)”. Privacy mode is a privacy feature in some web browsers to disable Browse history and the web cache. This allows a person to browse the Web without storing local data that could be retrieved at a later date. Privacy mode also disables the storage of data in cookies and Flash cookies. This privacy protection is only on the local computing device as it is still possible to identify frequented websites by associating the IP address at the web server.</p>
            
                    </div>
                </div>
            </div>
            <!-- Content END -->
    
        </div>
    </section>
    <!-- =======================
    Main banner END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    

<%- include('./partials/footer') %>