<%- include('./partials/header') %>
<%- include('./partials/userHeader') %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main banner START -->
    <section class="pt-4 pt-lg-5">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <h3 class="fs-2 mb-0">Disclaimer</h3>
                    <!-- Image -->
                    <!-- <img src="/assets/images/about/03.jpg" class="h-lg-400px rounded-3 mt-4" alt=""> -->
                </div>
            </div>
    
            <!-- Content START -->
            <div class="row">
                <div class="col-md-10 mx-auto">
                    <div class="vstack gap-3">
                        <p>Your use of our web site is at your own risk. This web site may contain mistakes and inaccuracies. Neither btrips.in nor any other party involved in the creation of this web site shall be liable for any direct, indirect, special, incidental, consequential or punitive damages arising out of or connected in any manner with your access to or use of this web site including, without limitation, any lost profits, business interruption, or loss of programs or information, even if Btrips has been specifically advised of the possibility of such damages. The materials on btrips.in’s web site are provided “as is”. btrips.in makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, btrips.in does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
            
                        <h6>Limitations</h6>
                        <p>In case of cancellation, refund will be initiated by the Airline after deduction of cancellation charges and will be credited to the same mode of payment you used while making the booking. Normally refund takes 10-15 days to get credited to your account.</p>
            
                        <h6>Revisions and Errata</h6>
                        <p>The materials appearing on btrips.in web site could include technical, typographical, or photographic errors. btrips.in does not warrant that any of the materials on its web site are accurate, complete, or current. btrips.in may make changes to the materials contained on its web site at any time without notice. btrips.in does not, however, make any commitment to update the materials.</p>
            
                        <h6>Links</h6>
                        <p>btrips.in has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by btrips.in of the site. Use of any such linked web site is at the user’s own risk.</p>
            
                        <h6>Site Terms of Use Modifications</h6>
                        <p>btrips.in may revise these terms of use for its web site at any time without notice. By using this web site you are agreeing to be bound by the then current version of these Terms and Conditions of Use.</p>
            
                        <h6>Governing Law</h6>
                        <p>Any claim relating to btrips.in web site shall be governed by the laws of the State of India without regard to its conflict of law provisions.</p>
            
                    </div>
                </div>
            </div>
            <!-- Content END -->
    
        </div>
    </section>
    <!-- =======================
    Main banner END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    

<%- include('./partials/footer') %>