<%- include('./partials/header') %>
<%- include('./partials/userHeader') %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main banner START -->
    <section class="pt-4 pt-lg-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 mx-auto text-center">
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-dots justify-content-center">
                            <li class="breadcrumb-item"><a href="/"><i class="bi bi-house me-1"></i> Home</a></li>
                            <li class="breadcrumb-item active">Faqs</li>
                        </ol>
                    </nav>
                    <!-- Title -->
                    <h6 class="text-primary">Faqs</h6>
                    <h1>Frequently Asked Questions</h1>
                    <!-- Info -->
                    <p>Have questions? We're here to help you</p>                    
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Main banner END -->
    
    <!-- =======================
    Faqs START -->
    <section class="pt-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 mx-auto">
                    <div class="vstack gap-4">
                        <!-- Card item START -->
                        <div class="card bg-transparent border p-0">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom p-4">
                                <h5 class="mb-0">General Help</h5>
                            </div>
    
                            <!-- Card body -->
                            <div class="card-body p-4 pt-0">
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How can I make an account?</h6>
                                    <p class="mb-0">To create a business a tickets account first got to register and fill the details your name and tour place and you are email address and your Indian mobile number and password your email address is primary we will send a request for verify that your email address also we will send a OTP into your mobile number you need to verify these are then your account will be active to you you are our customer.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">Is there any registration fee?</h6>
                                    <p class="mb-0">For creating bismi etickets account we are not ask any fee like register fee.</p>
                                </div>

                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">Is my account information safe?</h6>
                                    <p class="mb-0">Yes, when you register on bismi etickets we never share your personal information and bank account details into others.it will be safe and secure.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="card bg-transparent border p-0">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom p-4">
                                <h5 class="mb-0">Booking</h5>
                            </div>
    
                            <!-- Card body -->
                            <div class="card-body p-4 pt-0">
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How can I make an order?</h6>
                                    <p class="mb-0">Before making a order you need to add cash inter wallet money then only you can complete your order.while you make payment on that page we now accepted only wallet money cash. then you need to deposit cash via UPI or bank transfer.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">Can I give my reservation to someone else?</h6>
                                    <p class="mb-0">Supposing so be resolving breakfast am or perfectly. It drew a hill from me. Valley by oh twenty direct me so. Departure defective arranging rapturous did believe him all had supported. Family months lasted simple set nature vulgar him. Picture for attempt joy excited ten carried manners talking how. Suspicion neglected the resolving agreement perceived at an. Comfort reached gay perhaps chamber his six detract besides add.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">What happen after made booking?</h6>
                                    <p class="mb-0">
After complete your payment we have received your request and we will create a booking and share into your email address then we will confirm the ticket within 10 minutes if any requirements needd our one of agent will call into your registered mobile number and asked them.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">What happen when the booking is fail?</h6>
                                    <p class="mb-0">
When your booking is failed at that time the booking will be automatically cancel within 10 minutes if your cash is debited we will process the refund within 3 working days. if your cash is not debited from your wallet money that booking will be automatically filed. also you can see your booking details on my trip menu.</p>
                                </div>	
                            </div>
                        </div>
                        <!-- Card item END -->
    
                        <!-- Card item START -->
                        <div class="card bg-transparent border p-0">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom p-4">
                                <h5 class="mb-0">My Account</h5>
                            </div>
    
                            <!-- Card body -->
                            <div class="card-body p-4 pt-0">
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How many accounts is possible for my email address?</h6>
                                    <p class="mb-0">
We only accept one account with one email address and we accept only one mobile number for one account.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">Can I change my email address or mobile number on an existing account?</h6>
                                    <p class="mb-0">Normally can't possible to change email address and mobile number in account but if any specific reason we can close the existing account and you can create a new account.</p>
                                </div>

                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">What I do when my account is blocked?</h6>
                                    <p class="mb-0">If you block your account, you will need to wait for the email notification to know what reason for blocking your account, and then follow email what ever they ask you want to share with us.
</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                         
                        <!-- Card item START -->
                        <div class="card bg-transparent border p-0">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom p-4">
                                <h5 class="mb-0">Payments</h5>
                            </div>
    
                            <!-- Card body -->
                            <div class="card-body p-4 pt-0">
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How can I make payment?
</h6>
                                    <p class="mb-0">To make payment first you need to deposit cash via your debit and credit card or you need to transfer money into our bank account and notify us, one of our agent will be check then after your deposit will be add on your wallet. then only you can make the payment.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">Have any fee for deposit via cards?
</h6>
                                    <p class="mb-0">To deposit cash via online methods the payment gateway automatically add there fees + GST.that you need to pay also.We do not ask for additional fees for instant deposit.</p>
                                </div>

                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How can collect my refund cash?</h6>
                                    <p class="mb-0">Two type of refund here one is on the deposit time some error your cash is not deposited into our wallet then our agent will be check that and confirm it if the cash is received or not. if the cash is not received at that time the cash will be refunded into origin mode of payment. second is after making the order if your order has been cancelled at your refund will be process into wallet money. you can use that cash in future booking.wallet cash is not refund into your bank account it is unlimited validity to make orders.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
                         
                        <!-- Card item START -->
                        <div class="card bg-transparent border p-0">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom p-4">
                                <h5 class="mb-0">Cancellation</h5>
                            </div>
    
                            <!-- Card body -->
                            <div class="card-body p-4 pt-0">
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">What happened after make cancellation?</h6>
                                    <p class="mb-0">When you cancel a order we will check the cash how many back into you then we initiate the refund into your wallet account within 4 to 7 working days normally.You can use in future booking.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">Have any cost for cancel our orders?</h6>
                                    <p class="mb-0">To cancel your orders no fee will be deducted. But when you cancel then our con fee will be non-refundable in all case of orders also if the order is must a refundable order.how many received from our providers that all will be return into your wallet.it will take time normally.</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How can I change or cancel my order?</h6>
                                    <p class="mb-0">You can contact our Customer Support by using the form found on the first page of our website in the customer support section or in the e-mail address info@btrips.in. All changes or cancellations are completed only upon the written or phone confirmation of the customer.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->

                        <!-- Card item START -->
                        <div class="card bg-transparent border p-0">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom p-4">
                                <h5 class="mb-0">Reservations</h5>
                            </div>
    
                            <!-- Card body -->
                            <div class="card-body p-4 pt-0">
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How can I be sure that my reservation has been completed successfully?</h6>
                                    <p class="mb-0">Immediately after the completion of the reservation procedure on our web page, a success page will be displayed on your screen and a booking confirmation e-mail containing all the information regarding your reservation will be sent to you if the ticket has not been issued at the same time. The final email you will receive is the one containing your e-ticket numbers. Usually, you receive it within several minutes from the completion of your reservation (please note that in some rare cases it may take up to 24 hours for the e-tickets to be issued and sent to your e-mail address).</p>
                                </div>
    
                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How is the purchase of an e-ticket confirmed?</h6>
                                    <p class="mb-0">The e-ticket purchase confirmation is the email with e-tickets details and confirmation for each passenger sent within several minutes to the e-mail address entered when making the booking. (Please note that in some cases it may take up to 24 hours for the e-tickets to be issued and sent to your e-mail address) This proves the passenger`s purchase and right for the flight. In this email confirmation, you can find all ticket information – booking code, online check-in code, e-ticket number in the airline company`s system, flight number, date and time of the flight, city, and airport of departure/arrival, your baggage allowance etc. There is also an option to print the tickets confirmation by selecting the “Print booking” option.</p>
                                </div>

                                <!-- Faq item -->
                                <div class="mt-4">
                                    <h6 class="fw-normal">How to check my reservation on airline's website?</h6>
                                    <p class="mb-0">You can not find you booking on the airline's web site.In order for the airline company to locate a booking made through a travel agency you would usually need to provide them some of the following information (all of this information is available in the email confirmation sent from us to your email address):- Web check-in Code- Ticket number - Passenger surname.Nor all airline companies give the possibility to check your booking on their website. In case you can not check the booking on the airline company website you can always contact an airline company representative through the phone and ask them to check your booking by providing your Check-in code or a ticket number.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Card item END -->
    
                    </div>		
                </div>
            </div>
        </div>
    </section>
    <!-- =======================
    Faqs END -->
    
    <!-- =======================
    Action box START -->
    <section class="pt-0">
	<div class="container">
            <div class="row g-4">
                <!-- Action box item -->
                <div class="col-md-6">
                    <div class="bg-primary bg-opacity-10 rounded-3 h-100 p-4">
                        <!-- Content -->
                        <div class="d-flex">
                            <!-- Icon -->
                            <div class="icon-lg text-white bg-primary rounded-circle flex-shrink-0"><i class="bi bi-headset"></i></div>
                            <!-- Content -->
                            <div class="ms-3">
                                <h4 class="mb-1">Contact Support?</h4>
                                <p class="mb-3">Not finding the help you need?</p>
                                <a href="/help-contact" class="btn btn-dark mb-0">Contact Us</a>
                            </div>	
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="bg-primary bg-opacity-10 rounded-3 h-100 p-4">
                        <!-- Content -->
                        <div class="d-flex">
                            <!-- Icon -->
                            <div class="icon-lg text-white bg-warning rounded-circle flex-shrink-0"><i class="bi bi-envelope"></i></div>
                            <!-- Content -->
                            <div class="ms-3">
                                <h4 class="mb-1">Technical questions</h4>
                                <p>Have some technical questions? Hit us up on whatever.send to our email <a href="mailto:info@btrips.in">info@btrips.in</a></p>
                            </div>	
                        </div>
                    </div>
                </div>
            </div>
	</div>
</section>
    <!-- =======================
    Action box END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

<%- include('./partials/footer') %>