<%- include('./partials/header') %>
<%- include('./partials/userHeader') %>

<!-- **************** MAIN CONTENT START **************** -->
<main>

    <!-- =======================
    Main banner START -->
    <section class="pt-4 pt-lg-5">
        <div class="container">
            <!-- Title -->
            <div class="row mb-4">
                <div class="col-12 text-center">
                    <h3 class="fs-2 mb-0">Privacy Policy</h3>
                    <!-- Image -->
                    <!-- <img src="/assets/images/about/03.jpg" class="h-lg-400px rounded-3 mt-4" alt=""> -->
                </div>
            </div>
    
            <!-- Content START -->
<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="vstack gap-3">

            <h6>Btrips’s commitment to privacy</h6>
            <p>At Btrips, your security and privacy are fundamental. We protect your Personal Information with strong encryption and lay strict policies that govern how all data is handled. The only objective of all information that we gather and store from you is to make things convenient for you, to enable us to deliver and improve our services better and faster and to conduct our business.</p>
            <p>We make it very transparent as to what information we collect and why. All of your data is in your control. We make it clear for you to understand exactly what’s going to happen to your Personal Information. You can decide what information you would like to store. And changing these preferences are quick and easy.</p>
            <p>We never indulge in any promotional or ad communication without your permission. You have absolute control over all optional communication that you receive from our end. Most importantly, we don’t and will never “monetize” the information you store with us by selling or renting it to any third party and while we inevitably care about your privacy, we ensure that steps towards tight privacy do not come in the way of simplicity. That all steps towards security still ensure an unobstructed user experience.</p>
            <p>Our commitment to protecting your privacy comes from a profound desire to maintain the timeless value of privacy and preserve the ability for you to control your data. We know that your trust doesn’t come easy. That’s why we always work as hard as we can to earn and keep it.</p>

            <h6>Btrips’s Privacy Policy</h6>
            <p>The following Privacy Policy is applicable to the websites of Btrips (hereby referred to as “Btrips”, “we”, “our”, or “us”) including the desktop and mobile sites, smartphone and desktop apps, email and text messages (collectively hereby referred to as “platforms”). The following Privacy Policy explains what personal data we collect from you and how we store, use, transfer and disclose it.</p>
            <p>By Browse, visiting, accessing and/or using the services on our platforms or searching for any of the pages on our platforms, the visitor or customer (hereby referred to as “Customers”, “you” or “your”) explicitly consents and agrees to our Privacy Policy laid out herein. You also agree that the information furnished by you is lawful, true and correct and does not violate or infringe any laws. In the case of any violations, infringement, or furnishing of wrongful or unauthorised information, Btrips shall not be liable.</p>
            <p>Please take a moment to familiarise yourself with our privacy practices.</p>

            <h5>1. What is personal information?</h5>
            <p>‘Personal Information’ means all information, media or material that can be linked to a specific individual or organisation or used to identify any specific individual or organisation, such as name, email address, credit card number, and any other details that may be specifically related to one person or party.</p>
            <p>When you visit our platforms, you may provide us with such Personal Information while interacting with our platforms. Additionally, we may also collect certain data automatically based on your visit to or interaction with our platforms. And we may also collect certain Personal Information related to you from third parties.</p>
            <p>When Browse our platforms, you are not required to provide any Personal Information unless and until you choose to access features of the service that require such information.</p>

            <h5>2. What personal information does Btrips collect and why?</h5>

            <h6>(a) Information you voluntarily provide to us:</h6>
            <p>When you sign up for and/or use our platforms and services, consult with our customer service team, send us an email, integrate the services with another website or service or communicate with us in any way, you are voluntarily giving us information that we collect. That information may include:</p>
            <ul>
                <li><strong>Personally Identifiable Information</strong> like names, contact details which may include postal addresses, email addresses, contact numbers, passwords, gender, date of birth, occupation, location, marital information, and other demographic information, travel preferences, frequent - traveller or affinity numbers etc. This information is primarily used to:
                    <ul>
                        <li>Assist you in making reservations quickly without having to type in the same information repeatedly;</li>
                        <li>Contact you for customer service purposes, if necessary;</li>
                        <li>Communicate with you about your account and provide customer support;</li>
                        <li>Contact you to suggest additional features of our platforms that you might consider using;</li>
                        <li>Contact you to send alerts notifying new features, changes in any terms and condition, planned outages, version updates, releases, or abuse warnings;</li>
                        <li>Provide you with information about other goods and services we offer that are similar to those that you have already purchased or enquired about;</li>
                        <li>Promote and advertise the use of our services to you.</li>
                    </ul>
                </li>
                <li><strong>Transactional Information</strong> like financial information such as billing details, taxation details, bank accounts, credit card, debit card or other payment instrument details and transaction related information.</li>
                <li><strong>Accounting information</strong> which includes information about the travel, transaction, bookings, co-passengers, purchase history, account ledgers, taxation details, and also including (without limitation) all billing information and communications, etc. We require this information to process, fulfil and confirm your reservations and transactions, keep you informed of each transaction's status and to maintain our books of accounts.</li>
                <li>Other information that may be requested or gathered while you visit, access or use the platforms.</li>
            </ul>
            <p>If you are making a reservation for one or more travellers other than yourself, it is deemed understood that each of these other travellers has agreed, in advance, that you may disclose their Personal Information to us. By giving us this information, you consent to this information being collected, used, disclosed, transferred and stored by us, as described in our Terms of Use and in this Privacy Policy.</p>

            <h6>(b) Information we collect automatically:</h6>
            <ul>
                <li><strong>From Cookies:</strong> We use cookies or similar technologies to analyse trends, administer the website, track users’ movements around the website, and to gather demographic information about our user base as a whole. Users can control the use of cookies at the individual browser level.</li>
                <li><strong>From your use of our platforms:</strong> When you use our platforms, we may collect information about your visit to our platforms, your usage of the services, and your web Browse. The information we collect may include:
                    <ul>
                        <li>Your domain and host or Internet service provider (ISP) from which you access the Internet, Internet Protocol (IP) addresses, Uniform Resource Locators (URL) data;</li>
                        <li>Your device, operating system, browser, browser version, browser plug-in type and versions, browser ID, Browse activities, screen resolution, language, referring and exit websites and applications, date/time stamps, clickstream data the time spent on our platforms along with any other relevant information;</li>
                        <li>And anonymous site statistical data, information furnished while navigating our Platforms and other information about how you interacted with our Platforms.</li>
                    </ul>
                    <p>We may collect this information as a part of log files as well as through the use of cookies or other tracking technologies. We may use data collected from cookies in conjuncture with your other Personal Information for various analysis. Our use of cookies is discussed in more detail in our Cookie Statement.</p>
                    <p>We use these technologies and gather information for its various benefits:</p>
                    <ul>
                        <li>Tracking new and returning visitors;</li>
                        <li>Authenticating and identifying you on our platforms;</li>
                        <li>Keeping track of information that you have provided to us;</li>
                        <li>Remembering your preferences or where you left off while your use;</li>
                        <li>Tracking your movements around our platforms;</li>
                        <li>Fetching your approximate location to help you fill certain web forms faster and seamlessly providing location specific content, services, configurations and preferences;</li>
                        <li>Storing and displaying information about previously viewed content;</li>
                        <li>Administer our platforms and for internal operations, including troubleshooting, data analysis, testing, research, statistical and survey purposes;</li>
                        <li>Measuring your use of our platforms so that we can improve them, tailor them to your likely interests, and conduct market research;</li>
                        <li>Allowing you to participate in interactive features of our service, when you choose to do so;</li>
                        <li>Analysing trends and gathering demographic information about our user base;</li>
                        <li>Improving our platforms to ensure that content is presented in the most effective manner for you and for your computer;</li>
                        <li>Keeping our platforms safe and secure as part of our efforts;</li>
                        <li>Making suggestions and recommendations to you about goods or services that may interest you;</li>
                        <li>Using third-party cookies to enable third-party services, features, and functionality;</li>
                        <li>Measuring or understanding the effectiveness of advertising we serve to you and others, and to deliver relevant advertising to you, whether in our own products or in products offered by third parties.</li>
                    </ul>
                </li>
            </ul>

            <h6>(c) Information from the use of our Mobile Apps:</h6>
            <p>When you use our mobile apps, we may collect certain information in addition to the information described elsewhere in this Policy. For example, we may collect information about the type of device and operating system you use. We may use mobile analytics software to better understand how people use our application. We may collect information about how often you use the application and other performance data. We may also ask for access to various services on your device:</p>
            <ul>
                <li><strong>Notifications:</strong> We may ask if you want to receive push notifications. If you have opted for these notifications and no longer want to receive them, you may turn them off through your operating system. You can also opt to turn on only specific types of notifications via our app settings. We recommend that you opt in on notifications about activity in your account and choose the other notification options that you may like.</li>
                <li><strong>Contacts:</strong> We may ask you to provide access to your contacts to fetch information to be filled in web forms. Also, you can share your travel plans with friends, or invite them to try our app. We can even make recommendations for hotels where your friends have stayed.</li>
                <li><strong>Location Services:</strong> This permission enables us to give you the benefits of location-specific experience and deals. We can provide you country specific content, services, configurations and preferences. When you initiate a travel booking your nearest airport or city is auto-filled and we can recommend you nearest hotels.</li>
                <li><strong>Photos / Media / Files:</strong> Certain features of our apps require access to your photos, media, and files. For example, uploading a picture for a manually booked activity in Trips.</li>
                <li><strong>Camera:</strong> As mentioned above, access to the camera is required to capture and upload images.</li>
                <li><strong>Calendars:</strong> Our app may access your calendars to save and fetch new and existing travel plans on your calendar.</li>
                <li><strong>SMS:</strong> With the SMS access, we can read your SMS to auto-fill or pre-populate ‘OTP’ while making a transaction and to validate your mobile number. This enables a seamless experience.</li>
                <li><strong>Phone:</strong> With the Phone access, we can make phone calls to our customer contact centres directly through the app.</li>
                <li><strong>Device & App history:</strong> We need your device permission to get information about your device, like OS (operating system) name and version, mobile network, hardware model, unique device identifier, preferred language, etc. On the basis of these inputs, we can optimise your travel booking experience or use OS specific capabilities to deliver certain experiences.</li>
            </ul>

            <h5>3. When and with whom do we share your personal information?</h5>
            <p>We may disclose your Personal Information to strategic partners that work with us as follows:</p>
            <ul>
                <li><strong>(a) Service providers:</strong> When you book or purchase travel services via Btrips, we provide your Personal Information to the travel service providers such as airlines travel agency or other involved third party to enable the successful fulfilment of your travel arrangements. We share individual Customer names or other Personal Information with our alliance partners or vendors who are engaged by us for providing various promotional and other benefits to our Customers from time to time on the basis of their bookings with us.</li>
                <li><strong>(b) Government Tax Authorities:</strong> We collect and furnish information including transactional and accounting information as is required in compliance with various taxation laws, court order, or as requested by other government or law and tax enforcement authorities.</li>
                <li><strong>(c) Law & Authority:</strong> It may be necessary − by law, legal process, litigation, and/or requests from public and governmental authorities within or outside your country of residence − for Btrips to disclose your Personal Information. We may also disclose information about you if we determine that for purposes of national security, law enforcement, or other issues of public importance, a disclosure is necessary or appropriate. We may also disclose information about you if we determine that disclosure is reasonably necessary to enforce our terms and conditions or protect our operations or users. We may also furnish information if we believe that disclosure is otherwise necessary or advisable including, without limitation, to protect the rights or properties of Btrips or any of its affiliates, associates, employees, directors or officers or when we have reason to believe that disclosing the information is necessary to identify, contact or bring legal action against someone who may be causing interference to our operations rights, interests, whether intentionally or otherwise, or when anyone else could be harmed by such activities.</li>
                <li><strong>(d) Others:</strong> In the event of a restructuring, merger, or sale we may transfer any and all Personal Information we collect to the relevant third party.</li>
            </ul>

            <h5>4. How does Btrips ensure security and protection of information?</h5>
            <p>Btrips takes the security of your Personal Information very seriously. Our platforms protect your Personal Information and payment transactions during transit using encryption such as Transport Layer Security (TLS) when necessary. Certain data is stored in encrypted form. We ensure that your data is used responsibly and governed by strict confidentiality and non-disclosure agreements.</p>

            <h5>5. What other information should you know about your privacy?</h5>
            <p>Btrips makes it easy for you to keep your Personal Information accurate, complete, and up to date. You can help ensure that your contact information and preferences are accurate, complete, and up to date by logging in to your account at btrips.in/myprofile.</p>
            <p>We retain your information for as long as your account is active or as long as needed to provide you with our services. We may also retain and use your information in order to comply with our legal obligations, resolve disputes, prevent abuse, and enforce our agreements.</p>
            <p>It is essential to safeguard your password and other sensitive data. We strongly recommend you to create a unique password that's unrelated to your Personal Information and uses a combination of alphabets and numbers (and even symbols). Don’t use simple words or phrases, keyboard patterns or sequential patterns which make your password easier to guess. And don't reveal or write down your password in notes, files, emails or even contacts where they can be easily accessed by others. Account passwords are one-way encrypted, which means no-one including Btrips can see your passwords. Hence, we cannot resend forgotten passwords, we can only reset them.</p>
            <p>Beware of Phishing attacks. Btrips or any of its associated business will never ask for your password or other sensitive information in any form of communication.</p>
            <p>If you have any other questions or concerns that are not answered by the above Privacy Policy, you can Contact Us.</p>

            <h5>6. How often do we update our privacy policy?</h5>
            <p>We review our Privacy Policy from time to time and may make periodic changes to the policy at any time. All updates and amendments are effective immediately. Btrips is not liable to communicate changes in this Privacy Policy to whomsoever. Therefore, you may wish to bookmark this page and/or periodically review this page to make sure you have the latest version of the Privacy Policy. The most recent version of the Privacy Policy is reflected by the version date located at the top of this Privacy Policy. Each version of our Privacy Policy is deemed to be the true, complete, valid, and authentic.</p>

        </div>
    </div>
</div>
            <!-- Content END -->
    
        </div>
    </section>
    <!-- =======================
    Main banner END -->
    
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
    

<%- include('./partials/footer') %>