
<!-- =======================
Footer START -->
<footer class="bg-dark text-center text-white py-5">
	<div class="container">
  
	  <!-- Logo -->
	  <a href="/">
		<img src="/assets/images/logo.svg" alt="btrips logo" class="mb-3" style="height: 40px;">
	  </a>
  
	  <!-- Tagline -->
	  <p class="text-light mb-1">Opportunities for travel agencies to buy and sell fixed airfare deals offering the best and cheapest fares on flights in India and around the world.</p>
	  <!-- <p class="text-light">Exercise joy man children rejoiced.</p> -->
  
	  <!-- Navigation Links -->
	  <ul class="list-inline my-4">
		<li class="list-inline-item mx-2"><a href="/about" class="text-light">About</a></li>
		<li class="list-inline-item mx-2"><a href="/join-us" class="text-light">Join Us</a></li>
		<li class="list-inline-item mx-2"><a href="/terms-and-conditions" class="text-light">Terms</a></li>
		<li class="list-inline-item mx-2"><a href="/privacy-policy" class="text-light">Privacy</a></li>
		<!-- <li class="list-inline-item mx-2"><a href="#" class="text-light">Career</a></li> -->
		<li class="list-inline-item mx-2"><a href="/contact" class="text-light">Contact us</a></li>
		<li class="list-inline-item mx-2"><a href="/cookies" class="text-light">Cookies</a></li>
		<li class="list-inline-item mx-2"><a href="/disclaimer" class="text-light">Disclaimer</a></li>
	  </ul>
  
	  <!-- Social Icons -->
	  <div class="mb-4">
		<a href="#" class="btn bg-light btn-sm mx-1"><i class="fab fa-facebook-f text-facebook"></i></a>
		<a href="#" class="btn bg-light btn-sm mx-1"><i class="fab fa-instagram text-instagram"></i></a>
		<a href="#" class="btn bg-light btn-sm mx-1"><i class="fab fa-twitter text-twitter"></i></a>
		<a href="#" class="btn bg-light btn-sm mx-1"><i class="fab fa-linkedin-in text-linkedin"></i></a>
	  </div>
  
	  <!-- Copyright -->
	  <p class="mb-0 text-light small"> Copyrights ©2025 BismiETickets. Build by <a href="https://www.keraladigitalpark.com/" class="text-body-secondary">Kerala Digital Park</a>. </p>
  
	</div>
  </footer>
  
<!-- =======================
Footer END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="/assets/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="/assets/vendor/choices/js/choices.min.js"></script>
<script src="/assets/vendor/nouislider/nouislider.min.js"></script>
<script src="/assets/vendor/apexcharts/js/apexcharts.min.js"></script>

<!-- ThemeFunctions -->
<script src="/assets/js/functions.js"></script>

</body>
</html>