
<!-- =======================
Footer START -->
<footer class="bg-dark pt-5">
	<div class="container">
		<!-- Row START -->
		<div class="row g-4">

			<!-- Widget 1 START -->
			<div class="col-lg-3">
				<!-- logo -->
				<a href="index.html">
					<img class="h-40px" src="assets/images/logo-light.svg" alt="logo">
				</a>
				<p class="my-3 text-body-secondary">Departure defective arranging rapturous did believe him all had supported.</p>
				<p class="mb-2"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-telephone me-2"></i>+1234 568 963</a> </p>
				<p class="mb-0"><a href="#" class="text-body-secondary text-primary-hover"><i class="bi bi-envelope me-2"></i>example@gmail.com</a></p>
			</div>
			<!-- Widget 1 END -->

			<!-- Widget 2 START -->
			<div class="col-lg-8 ms-auto">
				<div class="row g-4">
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Page</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">About us</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Contact us</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">News and Blog</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Meet a Team</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Link</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Sign up</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Sign in</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Privacy Policy</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Terms</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Cookie</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Support</a></li>
						</ul>
					</div>
									
					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Global Site</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">India</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">California</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Indonesia</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Canada</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#">Malaysia</a></li>
						</ul>
					</div>

					<!-- Link block -->
					<div class="col-6 col-md-3">
						<h5 class="text-white mb-2 mb-md-4">Booking</h5>
						<ul class="nav flex-column text-primary-hover">
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-hotel me-2"></i>Hotel</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-plane me-2"></i>Flight</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-globe-americas me-2"></i>Tour</a></li>
							<li class="nav-item"><a class="nav-link text-body-secondary" href="#"><i class="fa-solid fa-car me-2"></i>Cabs</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- Widget 2 END -->

		</div><!-- Row END -->

		<!-- Tops Links -->
		<div class="row mt-5">
			<h5 class="mb-2 text-white">Top Links</h5>
			<ul class="list-inline text-primary-hover lh-lg">
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Flights</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Hotels</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Tours</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Cabs</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">About</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Contact us</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Blogs</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Services</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Detail page</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Services</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Policy</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Testimonials</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Newsletters</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Podcasts</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Protests</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">NewsCyber</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Education</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Sports</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Tech and Auto</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Opinion</a></li>
				<li class="list-inline-item"><a href="#" class="text-body-secondary">Share Market</a></li>
			</ul>
		</div>

		<!-- Payment and card -->
		<div class="row g-4 justify-content-between mt-0 mt-md-2">

			<!-- Payment card -->
			<div class="col-sm-7 col-md-6 col-lg-4">
				<h5 class="text-white mb-2">Payment & Security</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/paypal.svg" class="h-30px" alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/visa.svg" class="h-30px" alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/mastercard.svg" class="h-30px" alt=""></a></li>
					<li class="list-inline-item"> <a href="#"><img src="assets/images/element/expresscard.svg" class="h-30px" alt=""></a></li>
				</ul>
			</div>

			<!-- Social media icon -->
			<div class="col-sm-5 col-md-6 col-lg-3 text-sm-end">
				<h5 class="text-white mb-2">Follow us on</h5>
				<ul class="list-inline mb-0 mt-3">
					<li class="list-inline-item"> <a class="btn btn-sm px-2 bg-facebook mb-0" href="#"><i class="fab fa-fw fa-facebook-f"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-instagram mb-0" href="#"><i class="fab fa-fw fa-instagram"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-twitter mb-0" href="#"><i class="fab fa-fw fa-twitter"></i></a> </li>
					<li class="list-inline-item"> <a class="btn btn-sm shadow px-2 bg-linkedin mb-0" href="#"><i class="fab fa-fw fa-linkedin-in"></i></a> </li>
				</ul>	
			</div>
		</div>

		<!-- Divider -->
		<hr class="mt-4 mb-0">

		<!-- Bottom footer -->
		<div class="row">
			<div class="container">
				<div class="d-lg-flex justify-content-between align-items-center py-3 text-center text-lg-start">
					<!-- copyright text -->
					<div class="text-body-secondary text-primary-hover"> Copyrights ©2025 BismiETickets. Build by <a href="https://www.keraladigitalpark.com/" class="text-body-secondary">Kerala Digital Park</a>. </div>
					<!-- copyright links-->
					<div class="nav mt-2 mt-lg-0">
						<ul class="list-inline text-primary-hover mx-auto mb-0">
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="#">Privacy policy</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1" href="#">Terms and conditions</a></li>
							<li class="list-inline-item me-0"><a class="nav-link text-body-secondary py-1 pe-0" href="#">Refund policy</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- =======================
Footer END -->

<!-- Flight detail modal START -->
<div class="modal fade" id="flightdetail" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title">Flight Details</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<!-- Body -->
			<div class="modal-body p-3">
				<!-- Tabs START -->
				<ul class="nav nav-pills nav-justified nav-responsive bg-primary bg-opacity-10 rounded p-2 mb-3" id="flight-pills-tab" role="tablist">
					<!-- Tab item -->
					<li class="nav-item" role="presentation">
						<button class="nav-link active mb-0" id="flight-info" data-bs-toggle="pill" data-bs-target="#flight-info-tab" type="button" role="tab" aria-controls="flight-info-tab" aria-selected="true">Flight Information</button>
					</li>
					<!-- Tab item -->
					<li class="nav-item" role="presentation">
						<button class="nav-link mb-0" id="flight-fare" data-bs-toggle="pill" data-bs-target="#flight-fare-tab" type="button" role="tab" aria-controls="flight-fare-tab" aria-selected="false">Fare Detail</button>
					</li>
					<!-- Tab item -->
					<li class="nav-item" role="presentation">
						<button class="nav-link mb-0" id="flight-baggage" data-bs-toggle="pill" data-bs-target="#flight-baggage-tab" type="button" role="tab" aria-controls="flight-baggage-tab" aria-selected="false">Baggage Rules</button>
					</li>
					<!-- Tab item -->
					<li class="nav-item" role="presentation">
						<button class="nav-link mb-0" id="flight-policy" data-bs-toggle="pill" data-bs-target="#flight-policy-tab" type="button" role="tab" aria-controls="flight-policy-tab" aria-selected="false">Cancellation Rules</button>
					</li>
				</ul>
				<!-- Tabs END -->

				<!-- Tab content START -->
				<div class="tab-content mb-0" id="flight-pills-tabContent">

					<!-- Content item START -->
					<div class="tab-pane fade show active" id="flight-info-tab" role="tabpanel" aria-labelledby="flight-info">
						<div class="card border">

							<!-- Card header -->
							<div class="card-header">
								<div class="d-sm-flex justify-content-sm-between align-items-center">
									<!-- Airline Name -->
									<div class="d-flex mb-2 mb-sm-0">
										<img src="assets/images/element/09.svg" class="w-40px me-2" alt="">
										<h6 class="fw-normal mb-0">Phillippines Airline (PA - 5620)</h6>
									</div>
									<h6 class="fw-normal mb-0"><span class="text-body">Travel Class:</span> Economy</h6>
								</div>
							</div>

							<!-- Card body START -->
							<div class="card-body p-4">
								<!-- Ticket item START -->
								<div class="row g-4">
									<!-- Airport detail -->
									<div class="col-sm-4">
										<!-- Title -->
										<h4>BOM</h4>
										<h6 class="mb-0">14:50</h6>
										<p class="mb-0">Chhatrapati Shivaji International Airport</p>
									</div>

									<!-- Time -->
									<div class="col-sm-4 my-sm-auto text-center">
										<!-- Time -->
										<h5>9hr 50min</h5>

										<div class="position-relative my-4">
											<!-- Line -->
											<hr class="bg-primary opacity-5 position-relative">
											<!-- Icon -->
											<div class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
												<i class="fa-solid fa-fw fa-plane rtl-flip"></i>
											</div>
										</div>
									</div>

									<!-- Airport detail -->
									<div class="col-sm-4">
										<!-- Title -->
										<h4>CDG</h4>
										<h6 class="mb-0">11:50</h6>
										<p class="mb-0">Ch. De Gaulle, Paris, France</p>
									</div>
								</div>
								<!-- Ticket item END -->

								<!-- Divider -->
								<div class="bg-light text-center fw-normal rounded-2 mt-3 mb-4 p-2">
									Change of planes: 3h 15m Layover in France
								</div>

								<!-- Ticket item START -->
								<div class="row g-4">
									<!-- Airport detail -->
									<div class="col-sm-4">
										<!-- Title -->
										<h4>CDG</h4>
										<h6 class="mb-0">2:50</h6>
										<p class="mb-0">Ch. De Gaulle, Paris, France</p>
									</div>

									<!-- Time -->
									<div class="col-sm-4 my-sm-auto text-center">
										<!-- Time -->
										<h5>5hr 50min</h5>

										<div class="position-relative my-4">
											<!-- Line -->
											<hr class="bg-primary opacity-5 position-relative">
											<!-- Icon -->
											<div class="icon-md bg-primary text-white rounded-circle position-absolute top-50 start-50 translate-middle">
												<i class="fa-solid fa-fw fa-plane rtl-flip"></i>
											</div>
										</div>
									</div>

									<!-- Airport detail -->
									<div class="col-sm-4">
										<!-- Title -->
										<h4>JFK</h4>
										<h6 class="mb-0">7:35</h6>
										<p class="mb-0">John F Kennedy Intl-NY</p>
									</div>
								</div>
								<!-- Ticket item END -->
							</div>  
							<!-- Card body END -->
						</div>
					</div>		
					<!-- Content item END -->

					<!-- Content item START -->
					<div class="tab-pane fade" id="flight-fare-tab" role="tabpanel" aria-labelledby="flight-fare">
						<div class="card card-body">

							<!-- Table START -->
							<div class="table-responsive-lg">
								<table class="table caption-bottom mb-0">
									<!-- Caption -->
									<caption class="pb-0">*From The Date Of Departure</caption>
									<!-- Table head -->
									<thead class="table-dark">
										<tr>
											<th scope="col" class="border-0 rounded-start">Base Fare</th>
											<th scope="col" class="border-0">Taxes and Fees</th>
											<th scope="col" class="border-0 rounded-end">Total Fees</th>
										</tr>
									</thead>
									<!-- Table body -->
									<tbody>
										<tr>
											<td>$36,500</td>
											<td>$1,050</td>
											<td><h5 class="mb-0">$37,550</h5></td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- Table END -->
						</div>
					</div>	
					<!-- Content item END -->

					<!-- Content item START -->
					<div class="tab-pane fade" id="flight-baggage-tab" role="tabpanel" aria-labelledby="flight-baggage">
						<div class="card border">
							<!-- Card header -->
							<div class="card-header d-flex align-items-center border-bottom">
								<!-- Title -->
								<img src="assets/images/element/09.svg" class="h-20px me-1" alt="">
								<h5 class="card-title mb-0">BOM - CDG</h5>
							</div>
		
							<!-- Card body -->
							<div class="card-body">
								<!-- Table START -->
								<div class="table-responsive-lg">
									<table class="table caption-bottom mb-0">
										<!-- Caption -->
										<caption class="pb-0">*1PC = 23KG</caption>
										<!-- Table head -->
										<thead class="table-dark">
											<tr>
												<th scope="col" class="border-0 rounded-start">Baggage Type</th>
												<th scope="col" class="border-0">Check In</th>
												<th scope="col" class="border-0 rounded-end">Cabin</th>
											</tr>
										</thead>
										<!-- Table body -->
										<tbody class="border-top-0">
											<tr>
												<td>Adult</td>
												<td>2 PC</td>
												<td>7 Kg</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- Table END -->
							</div>
						</div>
					</div>	
					<!-- Content item END -->

					<!-- Content item START -->
					<div class="tab-pane fade" id="flight-policy-tab" role="tabpanel" aria-labelledby="flight-policy">
						<div class="card border">
							<!-- Card header -->
							<div class="card-header d-flex align-items-center border-bottom">
								<!-- Title -->
								<img src="assets/images/element/09.svg" class="h-20px me-1" alt="">
								<h5 class="card-title mb-0">BOM - CDG</h5>
							</div>

							<!-- Card body -->
							<div class="card-body">
								<!-- Table START -->
								<div class="table-responsive-lg">
									<table class="table caption-bottom mb-0">
										<!-- Caption -->
										<caption class="pb-0">*From The Date Of Departure</caption>
										<!-- Table head -->
										<thead class="table-dark">
											<tr>
												<th scope="col" class="border-0 rounded-start">Time Frame</th>
												<th scope="col" class="border-0 rounded-end">Air Free + MMT Free</th>
											</tr>
										</thead>
										<!-- Table body -->
										<tbody class="border-top-0">
											<tr>
												<td>0 hours to 24 hours</td>
												<td>Non Refundable</td>
											</tr>
											<tr>
												<td>24 hours to 365 days</td>
												<td>$16,325 + $250</td>
											</tr>
										</tbody>
									</table>
								</div>
								<!-- Table END -->
							</div>
						</div>
					</div>		
					<!-- Content item END -->

				</div>
				<!-- Tab content END -->
			</div>
		</div>
	</div>
</div>
<!-- Flight detail modal END -->

<!-- Back to top -->
<div class="back-top"></div>

<!-- Bootstrap JS -->
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendors -->
<script src="assets/vendor/flatpickr/js/flatpickr.min.js"></script>
<script src="assets/vendor/choices/js/choices.min.js"></script>
<script src="assets/vendor/nouislider/nouislider.min.js"></script>

<!-- ThemeFunctions -->
<script src="assets/js/functions.js"></script>

</body>
</html>