<!-- Bootstrap JS -->
<script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Vendor -->
<script src="/assets/vendor/overlay-scrollbar/js/overlayscrollbars.min.js"></script>
<script src="/assets/vendor/apexcharts/js/apexcharts.min.js"></script>
<script src="assets/vendor/choices/js/choices.min.js"></script>
<script src="assets/vendor/dropzone/js/dropzone.js"></script>

<!-- ThemeFunctions -->
<script src="/assets/js/functions.js"></script>

</body>
</html>