	<!-- Sidebar START -->
	<nav class="navbar sidebar navbar-expand-xl navbar-light">
		<!-- Navbar brand for xl START -->
		<div class="d-flex align-items-center">
			<a class="navbar-brand" href="/">
				<img class="light-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="/assets/images/logo.svg" alt="logo">
			</a>
		</div>
		<!-- Navbar brand for xl END -->
		
		<div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1" id="offcanvasSidebar">
			<div class="offcanvas-body sidebar-content d-flex flex-column pt-4">
	
				<!-- Sidebar menu START -->
				<ul class="navbar-nav flex-column" id="navbar-sidebar">
					<!-- Menu item -->
					<li class="nav-item"><a href="/admin" class="nav-link">Dashboard</a></li>

					<!-- Title -->
					<li class="nav-item ms-2 my-2">Customer Pages</li>

					<!-- <li class="nav-item">
						<a class="nav-link" href="/admin/bookings" role="button">Bookings</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapsebooking"
							role="button" aria-expanded="false" aria-controls="collapsebooking">
							Bookings
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapsebooking"
							data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link"
								href="/admin/bookings/latest">Latest Orders History</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/bookings/upcoming">Upcoming Trip Orders</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/bookings/past">Past Trip Orders</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/bookings/cancelled">Cancelled Trip Orders</a></li>
							<!-- <li class="nav-item"> <a class="nav-link"
									href="/admin/bookings/failed">Failed Trip Orders</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/bookings/initiated">Initiated to Cancel</a></li> -->
						</ul>
					</li>

					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapseguest"
							role="button" aria-expanded="false" aria-controls="collapseguest">
							Customers
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapseguest"
							data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link"
									href="/admin/users">Customers List</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/user-kyc-updates">Customers Kyc</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/user-subscriptions">Subscription</a></li>
						</ul>
					</li>
					
					<!-- <li class="nav-item">
						<a class="nav-link" href="/admin/users" role="button">Customers</a>
					</li> -->

					<li class="nav-item">
						<a class="nav-link" href="/admin/transactions" role="button">Customer Transactions</a>
					</li>

					<li class="nav-item ms-2 my-2">Seller Pages</li>

					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapseagent"
							role="button" aria-expanded="false" aria-controls="collapseagent">
							Sellers
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapseagent"
							data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link"
									href="/admin/agents">Sellers List</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/agent-kyc-updates">Sellers KYC</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/agent-subscriptions">Subscription</a></li>
						</ul>
					</li>
					
					<!-- <li class="nav-item">
						<a class="nav-link" href="/admin/agents" role="button">Sellers</a>
					</li> -->

					<li class="nav-item">
						<a class="nav-link" data-bs-toggle="collapse" href="#collapseinventory"
							role="button" aria-expanded="false" aria-controls="collapseinventory">
							Inventory Orders
						</a>
						<!-- Submenu -->
						<ul class="nav collapse flex-column" id="collapseinventory"
							data-bs-parent="#navbar-sidebar">
							<li class="nav-item"> <a class="nav-link"
									href="/admin/inventory/active">Active Inventory</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/inventory/past">Past Inventory</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="/admin/inventory/closed">Closed Inventory</a></li>
							<!-- <li class="nav-item"> <a class="nav-link"
									href="admin-agent-list.html">Inventory Payout</a></li>
							<li class="nav-item"> <a class="nav-link"
									href="admin-agent-detail.html">Payout Bank List</a></li> -->

						</ul>
					</li>

					<li class="nav-item ms-2 my-2">Help & Support</li>

					<li class="nav-item">
						<a class="nav-link" href="/admin/messages" role="button">Support Task</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/admin/coupons" role="button">Coupons & Promotions</a>
					</li>

					<li>
						<a class="nav-link" href="/admin/bank-updates" role="button">Bank Updates</a>
					</li>

					<li>
						<a class="nav-link" href="/admin/profile-updates" role="button">Profile Updates</a>
					</li>

					<!-- <li>
						<a class="nav-link" href="/admin/earnings" role="button">Earnings</a>
					</li> -->

					<li class="nav-item">
						<a class="nav-link" href="/admin/signin-images" role="button">Add Sign In Images</a>
					</li>
					
					<!-- <li class="nav-item">
						<a class="nav-link" href="/admin/settings" role="button">Admin Settings</a>
					</li> -->

					<!-- <li class="nav-item">
						<a class="nav-link" href="/admin/subscriptions" role="button">Subscriptions</a>
					</li> -->

					<!-- <li class="nav-item">
						<a class="nav-link" href="/admin/transactions" role="button">Transactions</a>
					</li> -->

					<!-- <li>
						<a class="nav-link" href="/admin/kyc-updates" role="button">KYC Updates</a>
					</li> -->

					<!-- <li>
						<a class="nav-link" href="/admin/messages" role="button">Messages</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/admin/settings" role="button">Settings</a>
					</li> -->
					
					
				</ul>
				<!-- Sidebar menu end -->
	
				<!-- Sidebar footer START -->
				<div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
					<a class="h6 fw-light mb-0 text-body"  href="/admin/logout" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Sign out">
						<i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
					</a>
					<a class="h6 mb-0 text-body" href="/admin/settings" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Settings">
						<i class="bi bi-gear-fill"></i>
					</a>
				</div>
				<!-- Sidebar footer END -->
				
			</div>
		</div>
	</nav>
	<!-- Sidebar END -->

	<script>
		document.addEventListener("DOMContentLoaded", function () {
			let sidebarLinks = document.querySelectorAll(".sidebar-content .nav-link");
			let currentUrl = window.location.pathname;
	
			sidebarLinks.forEach(link => {
				let linkHref = link.getAttribute("href");
	
				// Ensure both "/admin" and "/admin/" match
				if (currentUrl === linkHref || (currentUrl === "/admin/" && linkHref === "/admin")) {
					link.classList.add("active");
				}
			});
		});
	</script>
	